_deps
*.old
*.xxx
build
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
compile_commands.json
components
CTestTestfile.cmake
dependencies.lock
install_manifest.txt
Makefile
managed_components
sdkconfig
Testing
